<!-- templates\top_nav.html -->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
	<!-- Navbar Brand-->
	<a class="navbar-brand ps-3" href="{% url 'home' %}">MAASoft</a>
	
	<!-- Sidebar Toggle-->
	<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

	<!-- Contenedor central con fecha y accesos rápidos -->
	<div class="d-flex align-items-center flex-grow-1 text-white">
		<!-- Fecha -->
		<div class="me-3">
			{{ fecha.date|date:"d/m/Y" }}
		</div>

		<!-- Dropdown Accesos Rápidos -->
		<div class="dropdown me-3">
			<a class="btn btn-sm btn-primary dropdown-toggle text-light" href="#" role="button" id="dropdownAccesosRapidos" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="fas fa-th-large me-1"></i> Accesos Rápidos
			</a>
			<ul class="dropdown-menu dropdown-menu-start shadow-sm" aria-labelledby="dropdownAccesosRapidos">
				<li><a class="dropdown-item" href="{% url 'solicitud_adhesion_list' %}"><i class="fa fa-address-card text-secondary me-2"></i>Solicitud Adhesion</a></li>
				<li><a class="dropdown-item" href="{% url 'solicitud_vale_list' %}"><i class="fa fa-id-card text-secondary me-2"></i>Solicitud de Vales</a></li>
				<li><a class="dropdown-item" href="{% url 'compra_list' %}"><i class="fa fa-gift text-secondary me-2"></i>Compras</a></li>
				<li><a class="dropdown-item" href="{% url 'comercio_list' %}"><i class="fas fa-file-invoice text-secondary me-2"></i>Comercios</a></li>
				<li><a class="dropdown-item" href="{% url 'socio_list' %}"><i class="fas fa-users text-purple me-2"></i>Socios</a></li>
				<li><a class="dropdown-item" href="{% url 'plan_list' %}"><i class="fas fa-bolt text-primary me-2"></i>Planes</a></li>
				<li><a class="dropdown-item" href="{% url 'plan_comercio_list' %}"><i class="fas fa-bolt text-primary me-2"></i>Planes Comercios</a></li>
				<li><a class="dropdown-item" href="{% url 'servicio_list' %}"><i class="fas fa-boxes text-primary me-2"></i>Servicios</a></li>
				<li><a class="dropdown-item" href="{% url 'parametro_list' %}"><i class="fas fa-cogs text-danger me-2"></i>Parametros</a></li>
				<li><a class="dropdown-item" href="{% url 'empresa_list' %}"><i class="fas fa-building text-danger me-2"></i>Datos de Empresa</a></li>
				<li><a class="dropdown-item" href="{% url 'provincia_list' %}"><i class="fas fa-file text-danger me-2"></i>Provincias</a></li>
				<li><a class="dropdown-item" href="{% url 'localidad_list' %}"><i class="fas fa-file text-danger me-2"></i>Localidades</a></li>
				<li><a class="dropdown-item" href="{% url 'tipo_iva_list' %}"><i class="fas fa-file-text text-danger me-2"></i>Tipos de IVA</a></li>
				<li><a class="dropdown-item" href="{% url 'tipo_documento_identidad_list' %}"><i class="fas fa-search-dollar text-danger me-2"></i>Tipos de Documento de Identidad</a></li>
			</ul>
		</div>

	</div>

	<!-- Contenedor derecho: Usuario autenticado + menú -->
	<div class="d-flex align-items-center text-white me-3">
		<!-- Usuario autenticado -->
		<div class="me-3">
			{% if user.is_authenticated %}
				{{ request.session.sucursal }}-{{ request.session.punto_venta }}-
				{% if request.session.first_name %}
					{{ request.session.first_name }} {{ request.session.last_name }}
				{% else %}
					{{ request.session.username }}
				{% endif %}
			{% endif %}
		</div>

		<!-- Menú de usuario -->
		<div class="dropdown">
			<a class="nav-link dropdown-toggle text-white" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="fas fa-user fa-fw"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
				<li>
					<a class="dropdown-item" href="#!">
						<i class="fas fa-cogs text-primary me-2"></i>Configuración
					</a>
				</li>
				<li>
					<a class="dropdown-item" href="#!">
						<i class="fas fa-clipboard-list text-success me-2"></i>Registro de Actividad
					</a>
				</li>
				{% if request.session.is_staff or request.session.is_superuser %}
					<li>
						<a class="dropdown-item" href="{% url 'grupo_listar' %}">
							<i class="fas fa-users-cog text-warning me-2"></i>Grupos
						</a>
					</li>
					<li>
						<a class="dropdown-item" href="{% url 'usuario_listar' %}">
							<i class="fas fa-user-friends text-secondary me-2"></i>Usuarios
						</a>
					</li>

					<!-- Línea separadora -->
					<li><hr class="dropdown-divider"></li>
					
					
					<!-- Opciones de Gestión del Menú -->
				

				{% endif %}
				<li><hr class="dropdown-divider" /></li>
				<li>
					<a class="dropdown-item" href="{% url 'cerrar_sesion' %}">
						<i class="fas fa-sign-out-alt text-danger me-2"></i>Cerrar Sesión
					</a>
				</li>
			</ul>
		</div>

	</div>
</nav>
